:root {
    --beige : #E9D5CA;
    --purple: #827397;
    --navy-blue: #4D4C7D;
    --dark-blue: #363062;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--purple);
    font-family: "Zilla Slab", serif;
}

.container {
    width: 90%;
}

.menu_div {
    margin-top: 20px;
}

.menu_table {
    width: 100%;
    text-align: center;
    table-layout: fixed;
    border-radius: 10px;
    overflow: hidden;
}







