:root {
    --beige : #E9D5CA;
    --purple: #827397;
    --navy-blue: #4D4C7D;
    --dark-blue: #363062;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--navy-blue);
    font-family: "Zilla Slab", serif;
    padding-bottom: 1rem;
}

.btn-collapse {
    background-color: var(--navy-blue);
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid var(--dark-blue);
}

.btn-collapse:hover{
    background-color: var(--dark-blue);
}

.menu_div {
    margin-top: 20px;
    display: flex;
}

.menu_list {
    display: flex;
    justify-content: center;
    text-align: center;
}

.form-check-input{
    margin-top: 10px;
}

.form-check-label {
    color: white;
    margin-top: 6px;
}

.list-header {
    background-color: var(--dark-blue);
    color: white;
    font-weight: 600;
    text-align: center;
    padding: 8px;
    white-space: nowrap;
    margin-bottom: 0;
    width: 130px;
}

.soupList > .list-header {
    border-radius: 10px 0 0 0;
}

.thirdPList > .list-header {
    border-radius: 0 10px 0 0;
}

.list-group-item {
    padding: 8px;
    width: 130px;
    white-space: nowrap;
    font-size: .90rem;
}

.list-group-item:first-child {
    border-radius: 0;
}

#ulSoup > .list-group-item:last-child {
    border-radius: 0px 0px 0px 5px;
}

#ulThirdP > .list-group-item:last-child {
    border-radius: 0px 0px 5px 0;
}


.ingredients_list {
    transition: .75s ease-in all;
    background-color: var(--dark-blue);
    padding: 10px 5px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.ingredients_header {
    margin: 0px 0px 0px 10px;
}

/* .soupList {
    margin-right: 10px;
}

.mainCourseList {
    margin-right: 10px;
} */


